

.hide, .button.hide {
     display: none;
}

.button.clb-save-for-later {
     background: transparent;
     border: 1px solid #333;
}

.button.clb-save-for-later:hover {
     background: #333;
     color: #fff;
     border: 1px solid #333;
}

.button.clb-remove-save-for-later {
     color: #fff;
}
